<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
</head>
<body>
    <div id="container" style="width:538px; margin: 0 auto">
        <header style="heigth:65px; background-color: #ffffff; border-bottom:1px solid #999999;"></header>
        <article>
            <div style="padding-top: 32px">
                <span style="padding-bottom: 16px; font-size: 25px; color: #333333; font-family: 'Noto Sans KR', sans-serif; font-weight: bold;">Welcome, ${nickname}</span><br/>
                <span style="font-size: 15px; color: #999999; font-family: 'Noto Sans KR', sans-serif; font-weight: bold;">
                        <span>to Use service, Please click link below to verify your account</span><br/>
                    </span>
                <a style="display: inline-block; margin:20px 133px;" href="${link}"></a>
            </div>
            <div style="background-color: #999999; padding:20px; font-size: 12px; font-family: 'Noto Sans KR', sans-serif; line-height: 17px; color: #ff6633;">
            </div>
        </article>
        <footer style="background-color: #999999; height:55px;">
            <div style="width: 437px; height: 55px; float:right">
                <span style="padding-left:5px; text-align:left; color: #ffffff; font-size: 9px;">&copy; Sollabs. All rights reserved. </span><br/>
            </div>
        </footer>
    </div>
</body>
</html>